@font-face { font-family: Pokemon Solid; src: url('https://www.mediafont.com/storage/contents/8321/font.eot'); /* IE */ src: local('Pokemon Solid'), url('https://www.mediafont.com/storage/contents/8321/Pokemon Solid.ttf'); /* non-IE */ }
h1 {
  font-family: Pokemon Solid;
  color: white;
  letter-spacing: 0.5rem;
  margin-top: .75rem;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
