@font-face {
  font-family: PokemonFont;
  src: url("https://www.mediafont.com/storage/contents/8321/Pokemon Solid.ttf");
}

h1 {
  font-family: PokemonFont;
  color: white;
  letter-spacing: 0.5rem;
  margin-top: 0.75rem;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
